{% extends 'blog_app/base.html' %}
{% block content %}
    <article class="post">
    {% if post.Publish_Date %}
        <time class="date">published date:{{ post.Publish_Date }}</time>
    {% endif %}
    <h2>{{ post.Title }}</h2>
    <p> {{ post.Blog_Content }}</p>
    <time> Create Date:{{ post.Create_Date }}</time>
     <br><br>

     <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">Edit Post</a>
     <a class="btn btn-danger" href="{% url 'post_delete' pk=post.pk %}">Delete Post</a>
    </article>
{% endblock %}

