{% extends 'base.html' %}
{% block content %}
{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show">
          <button type="button" class="btn-close"
          data-bs-dismiss="alert" aria-label="close"></button>
          <strong>{{ message }}</strong>
          </div>
        {% endfor %}
    </div>
    {% endif %}
<p>Total number of products: {{ product_count }}</p>
<p>Total number of Doctors: {{doctors_count}}</p>
<p>Today's Schedule are: {{schedules}}</p>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Doctor Name</th>
        <th>Product Name</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for product in deals %}
      <tr>
        <td>{{ product.Doctor_Name }}</td>
        <td>{{ product.Product_Name }}</td>
        <td>{{ product.Quantity }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}